body {
  text-align: center;
  font-family: "Arial", sans-serif;
  padding: 0;
  background-color: #f0f0f0;
  position: relative;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #3a98c4;
}

.button:active {
  background-color: #adc4ce;
}

.button-nav {
  cursor: pointer;
}

#poi {
  background-color: grey;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 25px;
}

#poi:active {
  background-color: #adc4ce;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  padding: 0;
}

.popup {
  position: relative;
  background: #f1f0e8;
  border-radius: 5px;
  padding: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 6vh;
}

.close-btn {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  cursor: pointer;
}

input {
  width: 100%;
}

input[type="file"] {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f0e8;
  color: #333;
}

input[type="file"]::file-selector-button {
  border: 1px solid #3a98c4;
  color: #3a98c4;
  background-color: #f1f0e8;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  background-color: #f1f0e8;
  color: #333;
}

select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
}

select option {
  background-color: #f1f0e8;
  color: #333;
}

#soundpic {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #3a98c4;
  text-align: center;
}

#soundpic option {
  background-color: #f1f0e8;
  color: #333;
  text-align: center;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

#time {
  font-size: 5em;
  color: #3a98c4;
  font-weight: bolder;
  text-align: center;
}

#speaker {
  color: #333;
}

.button-g {
  text-align: center;
}

#display {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: auto 0;
  padding: 0;
  text-align: center;
}

#before,
#next {
  margin: 0;
  padding: 10px;
}

#container {
  max-width: 800px;
  margin: 0;
  padding: 0px;
}

#before,
#next {
  width: 10vw;
}

#cb-display {
  text-align: center;
}

iframe {
  width: 75vw;
  height: 100vh;
  border: 0;
}

#feedback {
  position: absolute;
  margin: 0;
  top: 5px;
  left: 5px;
}

#before {
  visibility: hidden;
}

#reset {
  display: none;
}

section {
  padding: 30px 0;
}
.buffer {
  width: 2vw;
  height: 15vh;
  margin: 3rem 0;
}
hr {
  visibility: hidden;
}
.bgc-1 {
  background-color: #3a98c4;
}
.bgc-2 {
  background-color: #adc4ce;
}
.bgc-3 {
  background-color: #eee0c9;
}
.bgc-4 {
  background-color: #f1f0e8;
}
a {
  color: black;
  text-decoration: none;
}

.sound-container {
  margin-top: 25%;
}

/* Add this style for the select element */
#system {
  padding: 8px 16px; /* Adjust padding as needed */
  border: 1px solid #f1f0e8; /* Add a border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  background-color: #3a98c4; /* Set background color */
  color: #f1f0e8; /* Set text color */
  margin: 0 10px; /* Adjust margin as needed */
}

#system option {
  background-color: #3a98c4;
  color: #f1f0e8;
  font-weight: bold;
}

/* Use flexbox for layout */
.input-container {
  display: grid;
  grid-template-columns: 15fr 1fr;
  grid-template-rows: 1fr;
}

/* Add margin between the two inputs */
.input-container input {
  width: 95%;
}
